In [4]:
import numpy as np
import pandas as pd

In [1]:
'abcde'.islower()

True

In [6]:
x = np.array(dir(np))

In [10]:
x[pd.Series(x).str.islower() == True]

array(['__all__', '__builtins__', '__cached__', '__config__',
       '__deprecated_attrs__', '__dir__', '__doc__',
       '__expired_functions__', '__file__', '__getattr__',
       '__git_version__', '__loader__', '__name__', '__package__',
       '__path__', '__spec__', '__version__', '_add_newdoc_ufunc',
       '_distributor_init', '_financial_names', '_globals', '_mat',
       '_pyinstaller_hooks_dir', '_pytesttester', '_version', 'abs',
       'absolute', 'add', 'add_docstring', 'add_newdoc',
       'add_newdoc_ufunc', 'all', 'allclose', 'alltrue', 'amax', 'amin',
       'angle', 'any', 'append', 'apply_along_axis', 'apply_over_axes',
       'arange', 'arccos', 'arccosh', 'arcsin', 'arcsinh', 'arctan',
       'arctan2', 'arctanh', 'argmax', 'argmin', 'argpartition',
       'argsort', 'argwhere', 'around', 'array', 'array2string',
       'array_equal', 'array_equiv', 'array_repr', 'array_split',
       'array_str', 'asanyarray', 'asarray', 'asarray_chkfinite',
       'ascontiguousarray', 'asfarray', 'asfortranarray', 'asmatrix',
       'atleast_1d', 'atleast_2d', 'atleast_3d', 'average', 'bartlett',
       'base_repr', 'binary_repr', 'bincount', 'bitwise_and',
       'bitwise_not', 'bitwise_or', 'bitwise_xor', 'blackman', 'block',
       'bmat', 'bool8', 'bool_', 'broadcast', 'broadcast_arrays',
       'broadcast_shapes', 'broadcast_to', 'busday_count',
       'busday_offset', 'busdaycalendar', 'byte', 'byte_bounds', 'bytes0',
       'bytes_', 'c_', 'can_cast', 'cast', 'cbrt', 'cdouble', 'ceil',
       'cfloat', 'char', 'character', 'chararray', 'choose', 'clip',
       'clongdouble', 'clongfloat', 'column_stack', 'common_type',
       'compare_chararrays', 'compat', 'complex128', 'complex256',
       'complex64', 'complex_', 'complexfloating', 'compress',
       'concatenate', 'conj', 'conjugate', 'convolve', 'copy', 'copysign',
       'copyto', 'core', 'corrcoef', 'correlate', 'cos', 'cosh',
       'count_nonzero', 'cov', 'cross', 'csingle', 'ctypeslib', 'cumprod',
       'cumproduct', 'cumsum', 'datetime64', 'datetime_as_string',
       'datetime_data', 'deg2rad', 'degrees', 'delete', 'deprecate',
       'deprecate_with_doc', 'diag', 'diag_indices', 'diag_indices_from',
       'diagflat', 'diagonal', 'diff', 'digitize', 'disp', 'divide',
       'divmod', 'dot', 'double', 'dsplit', 'dstack', 'dtype', 'e',
       'ediff1d', 'einsum', 'einsum_path', 'emath', 'empty', 'empty_like',
       'equal', 'errstate', 'euler_gamma', 'exp', 'exp2', 'expand_dims',
       'expm1', 'expm1x', 'extract', 'eye', 'fabs', 'fft',
       'fill_diagonal', 'find_common_type', 'finfo', 'fix', 'flatiter',
       'flatnonzero', 'flexible', 'flip', 'fliplr', 'flipud', 'float128',
       'float16', 'float32', 'float64', 'float_', 'float_power',
       'floating', 'floor', 'floor_divide', 'fmax', 'fmin', 'fmod',
       'format_float_positional', 'format_float_scientific',
       'format_parser', 'frexp', 'from_dlpack', 'frombuffer', 'fromfile',
       'fromfunction', 'fromiter', 'frompyfunc', 'fromregex',
       'fromstring', 'full', 'full_like', 'gcd', 'generic', 'genfromtxt',
       'geomspace', 'get_array_wrap', 'get_include', 'get_printoptions',
       'getbufsize', 'geterr', 'geterrcall', 'geterrobj', 'gradient',
       'greater', 'greater_equal', 'half', 'hamming', 'hanning',
       'heaviside', 'histogram', 'histogram2d', 'histogram_bin_edges',
       'histogramdd', 'hsplit', 'hstack', 'hypot', 'i0', 'identity',
       'iinfo', 'imag', 'in1d', 'index_exp', 'indices', 'inexact', 'inf',
       'info', 'infty', 'inner', 'insert', 'int0', 'int16', 'int32',
       'int64', 'int8', 'int_', 'intc', 'integer', 'interp',
       'intersect1d', 'intp', 'invert', 'is_busday', 'isclose',
       'iscomplex', 'iscomplexobj', 'isfinite', 'isfortran', 'isin',
       'isinf', 'isnan', 'isnat', 'isneginf', 'isposinf', 'isreal',
       'isrealobj', 'isscalar', 'issctype', 'issubclass_', 'issubdtype',
       'issubsctype', 'iterable', 'ix_', 'kaiser', 'kernel_version',
       'kron', 'lcm', 'ldexp', 'left_shift', 'less', 'less_equal',
       'lexsort', 'lib', 'linalg', 'linspace', 'little_endian', 'load',
       'loadtxt', 'log', 'log10', 'log1p', 'log2', 'logaddexp',
       'logaddexp2', 'logical_and', 'logical_not', 'logical_or',
       'logical_xor', 'logspace', 'longcomplex', 'longdouble',
       'longfloat', 'longlong', 'lookfor', 'ma', 'mask_indices', 'mat',
       'math', 'matmul', 'matrix', 'matrixlib', 'max', 'maximum',
       'maximum_sctype', 'may_share_memory', 'mean', 'median', 'memmap',
       'meshgrid', 'mgrid', 'min', 'min_scalar_type', 'minimum',
       'mintypecode', 'mod', 'modf', 'moveaxis', 'msort', 'multiply',
       'nan', 'nan_to_num', 'nanargmax', 'nanargmin', 'nancumprod',
       'nancumsum', 'nanmax', 'nanmean', 'nanmedian', 'nanmin',
       'nanpercentile', 'nanprod', 'nanquantile', 'nanstd', 'nansum',
       'nanvar', 'nbytes', 'ndarray', 'ndenumerate', 'ndim', 'ndindex',
       'nditer', 'negative', 'nested_iters', 'newaxis', 'nextafter',
       'nonzero', 'not_equal', 'numarray', 'number', 'obj2sctype',
       'object0', 'object_', 'ogrid', 'oldnumeric', 'ones', 'ones_like',
       'os', 'outer', 'packbits', 'pad', 'partition', 'percentile', 'pi',
       'piecewise', 'place', 'poly', 'poly1d', 'polyadd', 'polyder',
       'polydiv', 'polyfit', 'polyint', 'polymul', 'polynomial',
       'polysub', 'polyval', 'positive', 'power', 'printoptions', 'prod',
       'product', 'promote_types', 'ptp', 'put', 'put_along_axis',
       'putmask', 'quantile', 'r_', 'rad2deg', 'radians', 'random',
       'ravel', 'ravel_multi_index', 'real', 'real_if_close', 'rec',
       'recarray', 'recfromcsv', 'recfromtxt', 'reciprocal', 'record',
       'remainder', 'repeat', 'require', 'reshape', 'resize',
       'result_type', 'right_shift', 'rint', 'roll', 'rollaxis', 'roots',
       'rot90', 'round', 'round_', 'row_stack', 's_', 'safe_eval', 'save',
       'savetxt', 'savez', 'savez_compressed', 'sctype2char', 'sctypes',
       'searchsorted', 'select', 'set_numeric_ops', 'set_printoptions',
       'set_string_function', 'setbufsize', 'setdiff1d', 'seterr',
       'seterrcall', 'seterrobj', 'setxor1d', 'shape', 'shares_memory',
       'short', 'show_config', 'sign', 'signbit', 'signedinteger', 'sin',
       'sinc', 'single', 'singlecomplex', 'sinh', 'size', 'sometrue',
       'sort', 'sort_complex', 'source', 'spacing', 'split', 'sqrt',
       'square', 'squeeze', 'stack', 'std', 'str0', 'str_', 'string_',
       'subtract', 'sum', 'swapaxes', 'sys', 'take', 'take_along_axis',
       'tan', 'tanh', 'tensordot', 'test', 'testing', 'tile',
       'timedelta64', 'trace', 'tracemalloc_domain', 'transpose', 'trapz',
       'tri', 'tril', 'tril_indices', 'tril_indices_from', 'trim_zeros',
       'triu', 'triu_indices', 'triu_indices_from', 'true_divide',
       'trunc', 'typecodes', 'typename', 'ubyte', 'ufunc', 'uint',
       'uint0', 'uint16', 'uint32', 'uint64', 'uint8', 'uintc', 'uintp',
       'ulonglong', 'unicode_', 'union1d', 'unique', 'unpackbits',
       'unravel_index', 'unsignedinteger', 'unwrap', 'use_hugepage',
       'ushort', 'vander', 'var', 'vdot', 'vectorize', 'version', 'void',
       'void0', 'vsplit', 'vstack', 'warnings', 'where', 'who', 'zeros',
       'zeros_like'], dtype='<U25')

In [14]:
x = 2
y =3

In [15]:
eval('x+y')

5

In [19]:
exec('np.add(x,y)')

In [20]:
np.subtract(x,y)

-1

In [21]:
## 지수족 2, e
## Log 2, e, 10
np.exp2(3)

8.0

In [24]:
np.log10(3)

0.47712125471966244

In [25]:
np.log(2)

0.6931471805599453

In [32]:
x = np.arange(1,6)

np.add.reduce(x)

15

In [33]:
np.multiply.reduce(x)

120

In [34]:
np.prod(x)

120

In [35]:
np.add.accumulate(x)

array([ 1,  3,  6, 10, 15])

In [36]:
np.random.seed(100)

In [37]:
x = np.random.randint(1,10,size=(5,5))

In [40]:
np.array(x > 5, dtype='int')

array([[1, 1, 0, 1, 1],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0]])

In [41]:
rng = np.random.RandomState(42)

x = rng.randint(100, size=10)
print(x)

[51 92 14 71 60 20 82 86 74 74]

In [45]:
y = list(x)

In [48]:
[y[3], y[7], y[2]]

[71, 86, 14]

In [49]:
x[[3,7,2]]

array([71, 86, 14])

In [50]:
x = np.array([2,1,4,3,5])

In [54]:
y = list(x)
y.sort()
y

[1, 2, 3, 4, 5]

In [55]:
np.random.seed(100)

In [57]:
score = np.random.randint(50, 100, size=(100,4))

In [60]:
score[np.argsort(score[:,3])[::-1],:]

array([[86, 92, 63, 98],
       [64, 84, 99, 98],
       [87, 60, 61, 98],
       [73, 59, 98, 98],
       [98, 59, 99, 97],
       [56, 84, 82, 97],
       [58, 90, 63, 97],
       [98, 97, 89, 95],
       [71, 50, 59, 95],
       [95, 87, 75, 95],
       [55, 52, 50, 95],
       [90, 87, 91, 94],
       [74, 65, 86, 93],
       [67, 74, 73, 92],
       [73, 97, 53, 91],
       [73, 69, 60, 91],
       [68, 82, 88, 90],
       [72, 87, 50, 90],
       [94, 50, 59, 90],
       [64, 83, 70, 90],
       [76, 69, 54, 89],
       [58, 74, 53, 89],
       [92, 56, 87, 89],
       [95, 62, 83, 88],
       [67, 70, 89, 88],
       [99, 79, 64, 88],
       [61, 99, 74, 87],
       [71, 75, 56, 87],
       [69, 86, 92, 87],
       [53, 76, 99, 86],
       [89, 86, 85, 85],
       [98, 66, 99, 85],
       [69, 54, 54, 85],
       [91, 80, 69, 84],
       [92, 72, 50, 84],
       [80, 84, 52, 84],
       [95, 76, 79, 82],
       [51, 86, 83, 82],
       [84, 92, 70, 81],
       [95, 75, 98, 81],
       [88, 89, 93, 80],
       [77, 96, 99, 80],
       [57, 88, 72, 80],
       [58, 75, 58, 80],
       [76, 84, 53, 80],
       [54, 69, 57, 79],
       [99, 79, 86, 79],
       [73, 60, 65, 78],
       [62, 68, 79, 78],
       [60, 80, 53, 78],
       [59, 81, 71, 78],
       [87, 74, 69, 77],
       [54, 90, 77, 77],
       [80, 96, 68, 77],
       [60, 63, 67, 75],
       [97, 53, 62, 75],
       [82, 95, 89, 74],
       [60, 88, 66, 73],
       [85, 66, 62, 72],
       [66, 59, 79, 72],
       [87, 94, 88, 72],
       [81, 51, 63, 69],
       [74, 79, 78, 68],
       [63, 92, 80, 67],
       [98, 56, 76, 67],
       [80, 52, 74, 67],
       [87, 68, 88, 67],
       [99, 52, 73, 67],
       [52, 85, 67, 66],
       [92, 79, 94, 66],
       [84, 67, 72, 66],
       [96, 66, 55, 66],
       [94, 63, 83, 65],
       [59, 63, 53, 65],
       [70, 87, 67, 65],
       [69, 64, 50, 63],
       [68, 70, 65, 63],
       [69, 62, 52, 63],
       [51, 52, 73, 62],
       [52, 65, 94, 61],
       [84, 53, 88, 61],
       [78, 81, 70, 60],
       [73, 65, 98, 60],
       [53, 70, 65, 60],
       [84, 60, 67, 58],
       [62, 92, 53, 56],
       [98, 93, 86, 55],
       [78, 52, 66, 55],
       [52, 77, 94, 54],
       [68, 95, 94, 53],
       [71, 69, 70, 53],
       [86, 54, 77, 53],
       [64, 57, 66, 52],
       [68, 57, 80, 52],
       [57, 99, 97, 51],
       [64, 63, 70, 51],
       [73, 98, 67, 51],
       [91, 62, 58, 50],
       [73, 51, 54, 50],
       [88, 94, 68, 50]])

In [61]:
data = np.zeros(4, dtype={'names':('name', 'age', 'weight'),
                          'formats':('U10', 'i4', 'f8')})
print(data.dtype)

[('name', '<U10'), ('age', '<i4'), ('weight', '<f8')]

In [62]:
data

array([('', 0, 0.), ('', 0, 0.), ('', 0, 0.), ('', 0, 0.)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('weight', '<f8')])

In [63]:
x = pd.DataFrame(x)

In [65]:
score = pd.DataFrame(score)
score

     0   1   2   3
0   58  74  53  89
1   73  65  98  60
2   80  84  52  84
3   64  84  99  98
4   74  65  86  93
..  ..  ..  ..  ..
95  61  99  74  87
96  67  70  89  88
97  87  74  69  77
98  71  50  59  95
99  51  86  83  82

[100 rows x 4 columns]

In [80]:
score.iloc[:, 0] ## series

0     58
1     73
2     80
3     64
4     74
      ..
95    61
96    67
97    87
98    71
99    51
Name: 0, Length: 100, dtype: int64

In [81]:
score.iloc[:, 0:1] ## dataframe

     0
0   58
1   73
2   80
3   64
4   74
..  ..
95  61
96  67
97  87
98  71
99  51

[100 rows x 1 columns]

In [82]:
score.values ## numpy array

array([[58, 74, 53, 89],
       [73, 65, 98, 60],
       [80, 84, 52, 84],
       [64, 84, 99, 98],
       [74, 65, 86, 93],
       [66, 59, 79, 72],
       [52, 77, 94, 54],
       [81, 51, 63, 69],
       [86, 54, 77, 53],
       [57, 99, 97, 51],
       [64, 57, 66, 52],
       [91, 80, 69, 84],
       [77, 96, 99, 80],
       [98, 97, 89, 95],
       [88, 94, 68, 50],
       [84, 60, 67, 58],
       [63, 92, 80, 67],
       [54, 90, 77, 77],
       [69, 64, 50, 63],
       [62, 92, 53, 56],
       [53, 70, 65, 60],
       [73, 97, 53, 91],
       [98, 93, 86, 55],
       [57, 88, 72, 80],
       [84, 92, 70, 81],
       [95, 62, 83, 88],
       [92, 72, 50, 84],
       [69, 54, 54, 85],
       [73, 59, 98, 98],
       [71, 75, 56, 87],
       [88, 89, 93, 80],
       [80, 52, 74, 67],
       [95, 87, 75, 95],
       [85, 66, 62, 72],
       [68, 95, 94, 53],
       [78, 81, 70, 60],
       [58, 75, 58, 80],
       [62, 68, 79, 78],
       [94, 50, 59, 90],
       [78, 52, 66, 55],
       [76, 84, 53, 80],
       [64, 63, 70, 51],
       [64, 83, 70, 90],
       [74, 79, 78, 68],
       [68, 57, 80, 52],
       [99, 52, 73, 67],
       [95, 76, 79, 82],
       [60, 80, 53, 78],
       [87, 68, 88, 67],
       [60, 63, 67, 75],
       [52, 65, 94, 61],
       [87, 94, 88, 72],
       [73, 98, 67, 51],
       [92, 79, 94, 66],
       [69, 86, 92, 87],
       [98, 66, 99, 85],
       [52, 85, 67, 66],
       [56, 84, 82, 97],
       [98, 59, 99, 97],
       [84, 53, 88, 61],
       [99, 79, 86, 79],
       [53, 76, 99, 86],
       [59, 81, 71, 78],
       [54, 69, 57, 79],
       [86, 92, 63, 98],
       [68, 82, 88, 90],
       [99, 79, 64, 88],
       [72, 87, 50, 90],
       [90, 87, 91, 94],
       [69, 62, 52, 63],
       [73, 51, 54, 50],
       [73, 69, 60, 91],
       [51, 52, 73, 62],
       [89, 86, 85, 85],
       [76, 69, 54, 89],
       [73, 60, 65, 78],
       [94, 63, 83, 65],
       [67, 74, 73, 92],
       [58, 90, 63, 97],
       [95, 75, 98, 81],
       [60, 88, 66, 73],
       [70, 87, 67, 65],
       [71, 69, 70, 53],
       [87, 60, 61, 98],
       [98, 56, 76, 67],
       [91, 62, 58, 50],
       [80, 96, 68, 77],
       [92, 56, 87, 89],
       [82, 95, 89, 74],
       [96, 66, 55, 66],
       [84, 67, 72, 66],
       [97, 53, 62, 75],
       [55, 52, 50, 95],
       [59, 63, 53, 65],
       [68, 70, 65, 63],
       [61, 99, 74, 87],
       [67, 70, 89, 88],
       [87, 74, 69, 77],
       [71, 50, 59, 95],
       [51, 86, 83, 82]])

In [83]:
dir(np)

['ALLOW_THREADS',
 'AxisError',
 'BUFSIZE',
 'CLIP',
 'ComplexWarning',
 'DataSource',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'ModuleDeprecationWarning',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'Tester',
 'TooHardError',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'VisibleDeprecationWarning',
 'WRAP',
 '_CopyMode',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__deprecated_attrs__',
 '__dir__',
 '__doc__',
 '__expired_functions__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_distributor_init',
 '_financial_names',
 '_globals',
 '_mat',
 '_pyinstaller_hooks_dir',
 '_pytesttester',
 '_version',
 'abs',
 'absolute',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool8',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_shapes',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes0',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex128',
 'complex256',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'expm1x',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float128',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'from_dlpack',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int0',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kernel_version',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mask_indices',
 'mat',
 'math',
 'matmul',
 'matrix',
 'matrixlib',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'numarray',
 'number',
 'obj2sctype',
 'object0',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'os',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str0',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'sys',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint0',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'use_hugepage',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'void0',
 'vsplit',
 'vstack',
 'warnings',
 'where',
 'who',
 'zeros',
 'zeros_like']

In [90]:
np.newaxis is None

True

In [87]:
## nan은 상수 / not a number
## inf (무한대)

In [88]:
x = np.random.randn(10, 11)

In [93]:
x[np.newaxis, :, :, np.newaxis].shape

(1, 10, 11, 1)

In [94]:
# SMOTE
from sklearn.datasets import load_wine

In [149]:
wine_df = pd.DataFrame(load_wine()['data'])
wine_df.columns = load_wine()['feature_names']
wine_df['grade'] = load_wine()['target']
wine_df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,grade
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

In [150]:
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             178 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 178 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
 13  grade                         178 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 19.6 KB

In [152]:
(len(wine_df) - wine_df.isna().sum()).reset_index()

                           index    0
0                        alcohol  178
1                     malic_acid  178
2                            ash  178
3              alcalinity_of_ash  178
4                      magnesium  178
5                  total_phenols  178
6                     flavanoids  178
7           nonflavanoid_phenols  178
8                proanthocyanins  178
9                color_intensity  178
10                           hue  178
11  od280/od315_of_diluted_wines  178
12                       proline  178
13                         grade  178

In [153]:
pd.concat([wine_df.isna().sum(), wine_df.dtypes], axis=1)

                              0        1
alcohol                       0  float64
malic_acid                    0  float64
ash                           0  float64
alcalinity_of_ash             0  float64
magnesium                     0  float64
total_phenols                 0  float64
flavanoids                    0  float64
nonflavanoid_phenols          0  float64
proanthocyanins               0  float64
color_intensity               0  float64
hue                           0  float64
od280/od315_of_diluted_wines  0  float64
proline                       0  float64
grade                         0    int64

In [107]:
## dropna

In [110]:
x = np.random.randint(1,11, size=(100,5))
x = x.astype('object')

In [112]:
for _ in range(20):
    row = np.random.randint(0,100,1)
    col = np.random.randint(0,5,1)
    x[row, col] = np.nan
# x

In [114]:
x = pd.DataFrame(x)

In [117]:
x[x.isna().sum(axis=1) > 0]

      0    1    2   3    4
0     3    4    6   6  NaN
5     1    2  NaN   5    4
8     6  NaN   10   5    8
9     7    5    3   9  NaN
10  NaN    7    7   1  NaN
12    3    3  NaN   2    7
18    3  NaN    6   3    1
25    4    2  NaN   1    3
26  NaN   10  NaN   4   10
29    4   10    6   5  NaN
30  NaN    8   10   5    2
35    4    1  NaN   1    3
41    5  NaN    1   8    4
43    8  NaN    7   6   10
48   10  NaN    2   9    5
52    1  NaN    8   2    1
54    7  NaN    6   4    7
58    1    4    7  10  NaN
65    3    1    8   6  NaN
70    9  NaN    4  10    4
73    8  NaN    6  10    9
74   10    3  NaN   4    1
80    8  NaN    6   6   10
82    9  NaN   10  10   10
84   10    9  NaN   4   10
85    8    7    9   4  NaN
87  NaN    1  NaN   7    9
89  NaN    3    2   3    5
90  NaN  NaN    4   4  NaN
98    2    8  NaN   5    1
99  NaN    6    1   4    2

In [128]:
x.fillna(method='ffill')

     0  1   2  3     4
0    3  4   6  6   NaN
1    8  8   8  8   8.0
2    9  7   1  2  10.0
3   10  7   8  3   3.0
4    5  2   2  1   6.0
..  .. ..  .. ..   ...
95   7  6   4  7   2.0
96   9  4   7  2   6.0
97   9  5  10  7   6.0
98   2  8  10  5   1.0
99   2  6   1  4   2.0

[100 rows x 5 columns]

In [129]:
x = np.random.randint(1,10,100)
pd.Series(x).describe()

count    100.000000
mean       5.120000
std        2.535725
min        1.000000
25%        3.000000
50%        5.000000
75%        7.000000
max        9.000000
dtype: float64

In [130]:
x = x.astype('str')

In [132]:
pd.Series(x).describe()

count     100
unique      9
top         2
freq       17
dtype: object

In [135]:
x = np.random.randint(50, 100, size=(100,4))
x = pd.DataFrame(x)
x.columns = ['col_'+ str(i+1) for i in range(4) ]
x['gender'] = np.random.choice(np.array(['f', 'm']), 100)

In [139]:
x.groupby('gender').mean()[['col_1','col_2']]

            col_1      col_2
gender
f       71.781818  75.036364
m       73.711111  75.022222

In [148]:
x.groupby('gender').mean()[['col_1','col_2']].unstack()

       gender
col_1  f         71.781818
       m         73.711111
col_2  f         75.036364
       m         75.022222
dtype: float64

In [142]:
import seaborn as sns
planet = sns.load_dataset('planets')
titanic = sns.load_dataset('titanic')

In [143]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [144]:
planet

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [146]:
planet.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0